<ul class="customers_list">
  <% customers.each do |customer| %>
  <li class="customers_wrap">
    <div class="icon_neme_day">
      <%= link_to public_customer_path(customer), class: 'profile_img_s' do %>
        <%= image_tag customer.get_profile_image %>
      <% end %>
      <div>
        <div class="comment_profile_flex">
          <p class="customer_name"><%= customer.name %></p>
        </div>
        <div class="comment_profile_flex">
          <p class="customers_text"><%= customer.introduction %></p>
          <div id="follow-btn_<%= customer.id %>">
            <%= render "/public/relationships/follow_btn", customer: customer %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<div class="bottom_btn">
  <% if current_customer %>
    <%= render '/public/posts/post_btn' %>
  <% end %>
  <a class="top-btn top_btn_bottom"><img src="/assets/top_btn.png" alt: "トップへ戻る" class="top_btn"></a>
</div>