<% customers.each do |customer| %>
  <%= link_to public_customer_path(current_customer) do %>
    <%= image_tag customer.get_profile_image, size: '50x50' %>
  <% end %>
  <%= customer.name %>
  <%= customer.introduction %>
  <div id="follow-btn_<%= customer.id %>">
    <%= render "/public/relationships/follow_btn", customer: customer %>
  </div>
<% end %>