<ul class="customers_list">
  <% customers.each do |customer| %>
  <li class="customers_wrap">
      <div class="icon_folow_int">
        <div class="icon_name">
          <!--会員アイコン-->
          <%= link_to public_customer_path(customer), class: 'profile_img_s' do %>
            <%= image_tag customer.get_profile_image %>
          <% end %>
          <!--ユーザーネーム-->
          <p class="customer_name"><%= customer.name %></p>
        </div>
        <div id="follow-btn_<%= customer.id %>">
          <%= render "/public/relationships/follow_btn", customer: customer %>
        </div>
      </div>
      <!--紹介文-->
      <p class="customers_text"><%= truncate(customer.introduction, length: 78) %></p>
  </li>
  <% end %>
</ul>

<!--新規投稿ボタン、トップへ戻るボタン-->
<div class="bottom_btn">
  <% if current_customer %><!--ログイン時は新規投稿ボタンが現れる-->
    <%= render '/public/posts/post_btn' %>
  <% end %>
  <a class="top-btn top_btn_bottom"><%= image_tag "top_btn.png",alt: "トップへ戻る", class: 'top_btn' %></a>
</div>