<div class="profile_bg">

<!--フラッシュメッセージ-->
<%= render '/public/homes/message' %>

  <div class="profile">
      <div class="icon_neme_customer">
        <!--会員アイコン-->
        <div class="profile_img_wrap">
          <%= image_tag @customer.get_profile_image, class: "profile_img_b" %>
        </div>

        <!--アイコン横のユーザーネーム、カウンター類-->
        <div>
          <p class="customer_name_b"><%= @customer.name %></p>
          <div class="counter_flex">
            <div id="followings-counter_<%= @customer.id %>"><!--フォロー中カウンター-->
              <%= render "/public/relationships/followings_counter", customer: @customer %>
            </div>
            <div id="followers-counter_<%= @customer.id %>"><!--フォロワーカウンター-->
              <%= render "/public/relationships/followers_counter", customer: @customer %>
            </div>
            <div id="favorites-counter_<%= @customer.id %>"><!--いいねカウンター-->
              <%= render "/public/favorites/favorite_counter", customer: @customer %>
            </div>
          </div>
          <!--フォローボタンか、編集ボタン-->
          <div class="folow_edit">
            <% if current_customer != @customer %><!--ログイン中のユーザーが自分自身のページを表示している場合フォローボタンは表示されない-->
              <div id="follow-btn_<%= @customer.id %>">
                <%= render "/public/relationships/follow_btn", customer: @customer %>
              </div>
            <% else %>
              <% unless @customer.guest_customer? %><!--ゲストユーザーの場合、編集ボタンは表示されません。-->
                <%= link_to "編集", edit_public_customer_path(current_customer), class: "btn_y_s" %>
              <% end %>
            <% end %>
          </div>
          <!--自己紹介文-->
          <p class="customer_show_text"><%= @customer.introduction %></p>
        </div>
      </div>
  </div>
</div>

<% if @posts.any? %><!--会員に投稿があれば表示-->
  <%= render partial: 'public/posts/list', locals: { posts: @posts } %>
<% else %><!--会員に投稿が無い場合に表示-->
  <p class="no_post">まだ投稿がありません。</p>
<% end %>

<!--新規投稿ボタン、トップへ戻るボタン-->
<div class="bottom_btn">
  <% if current_customer %><!--ログイン時は新規投稿ボタンが現れる-->
    <%= render '/public/posts/post_btn' %>
  <% end %>
  <a class="top-btn top_btn_bottom"><%= image_tag "top_btn.png",alt: "トップへ戻る", class: 'top_btn' %></a>
</div>