<div class="profile">
  <div class="profile_name_img">
    <%= image_tag current_customer.get_profile_image, size: '100x100' %>
    <%= @customer.name %>
  </div>

  <% if current_customer != @customer %>
    <%= render "/public/relationships/follow_btn", customer: customer, options: { class: "follow-link" } %>
  <% else %>
    <%= link_to "編集", edit_public_customer_path(current_customer) %>
  <% end %>

  <p>フォロー　 <%= link_to @customer.followings.count, public_customer_followings_path(@customer) %></p>
  <p>フォロワー <%= link_to @customer.followers.count, public_customer_followers_path(@customer) %></p>
  <p>いいね</p>

  <%= @customer.introduction %>
</div>


<% if @posts.any? %>
  <h2>投稿一覧</h2>
  <%= render partial: 'public/posts/list', locals: { posts: @posts } %>
<% else %>
  <p>まだ投稿がありません。</p>
<% end %>
