<div class="profile">
  <div class="profile_name_img">
    <%= image_tag @customer.get_profile_image, size: '100x100' %>
    <%= @customer.name %>
  </div>

  <% if current_customer != @customer %>
    <div id="follow-btn_<%= @customer.id %>">
      <%= render "/public/relationships/follow_btn", customer: @customer %>
    </div>
  <% else %>
    <% unless @customer.guest_customer? %>
      <%= link_to "編集", edit_public_customer_path(current_customer) %>
    <% end %>
  <% end %>

  <div id="followings-counter_<%= @customer.id %>">
    <%= link_to public_customer_followings_path(@customer) do %>
      <%= render "/public/relationships/followings_counter", customer: @customer %>
    <% end %>
  </div>

  <div id="followers-counter_<%= @customer.id %>">
    <%= link_to public_customer_followers_path(@customer) do %>
      <%= render "/public/relationships/followers_counter", customer: @customer %>
    <% end %>
  </div>

  <div id="favorites-counter_<%= @customer.id %>">
    <%= link_to favorites_public_customer_path(@customer) do %>
      <%= render "/public/favorites/favorite_counter", customer: @customer %>
    <% end %>
  </div>

  <%= @customer.introduction %>
</div>


<% if @posts.any? %>
  <h2>投稿一覧</h2>
  <%= render partial: 'public/posts/list', locals: { posts: @posts } %>
<% else %>
  <p>まだ投稿がありません。</p>
<% end %>