<div class="profile">
  <div class="profile_name_img">
    <%= image_tag @customer.get_profile_image, size: '100x100' %>
    <%= @customer.name %>
  </div>

  <% if current_customer != @customer %>
    <div id="follow-btn_<%= @customer.id %>">
      <%= render "/public/relationships/follow_btn", customer: @customer %>
    </div>
  <% else %>
    <%= link_to "編集", edit_public_customer_path(current_customer) %>
  <% end %>

  <p>フォロー</p>
  <div id="comment-counter">
    <%= render "/public/relationships/followings_counter", customer: @customer %>
  </div>

  <p>フォロワー</p>
  <div id="comment-counter">
    <%= render "/public/relationships/followers_counter", customer: @customer %>
  </div>
  <p>いいね</p>

  <%= @customer.introduction %>
</div>


<% if @posts.any? %>
  <h2>投稿一覧</h2>
  <%= render partial: 'public/posts/list', locals: { posts: @posts } %>
<% else %>
  <p>まだ投稿がありません。</p>
<% end %>
