<% posts.each do |post| %>
  <%= link_to public_post_path(post.id) do %>
    <%= image_tag post.image %>
  <% end %>
  <%= image_tag current_customer.get_profile_image, size: '50x50' %>
  <p><%= post.caption %></p>
  <span>By <%= post.customer.name %> ｜ </span>
  <span><%= link_to "#{post.post_comments.count} コメント", public_post_path(post.id) %></span>

  <div id="favorite_btn_<%= post.id %>">
    <%= render 'favorite', post: post %>
  </div>
<% end %>