<div class="post_show">

  <%= image_tag @post.get_image, class: 'post_show_img' %>

  <div class="post_text">
    <div class="icon_neme_day">
      <%= link_to public_customer_path(@post.customer), class: 'profile_img_s' do %>
        <%= image_tag @post.customer.get_profile_image %>
      <% end %>
      <div class="profile_flex">
        <p class="customer_name"><%= @post.customer.name %></p>
        <p class="post_day"><%= @post.created_at.strftime('%Y年%m月%d日') %></p>
      </div>
    </div>

    <p class="post_caption"><%= @post.caption %></p>


    <div class="show_comment_favo">
      <% if @post.customer == current_customer %>
        <%= link_to "削除", public_post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>

      <div id="comment_counter" class="favo">
       <%= render "/public/post_comments/counter", post: @post %>
      </div>

      <div id="favorite_btn_<%= @post.id %>" class="favo">
        <%= render '/public/favorites/favorite', post: @post %>
      </div>
    </div>

    <%= render "/public/post_comments/form", post: @post, post_comment: @post_comment %>

    <div id="comment_index">
      <%= render "/public/post_comments/index", post: @post %>
    </div>
  </div>
</div>