<h3 class="page_title">会員一覧（管理用）</h3>

<table>
  <tr>
    <th>会員ID</th>
    <th></th>
    <th>ユーザーネーム</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></th>
    <td>
      <%= link_to public_customers_path(customer), class: 'profile_img_s' do %>
        <%= image_tag customer.get_profile_image %>
      <% end %>
    </td>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
    <td>
      <% if customer.is_active? %>
        <span>有効</span>
      <% else %>
        <span>退会済み</span>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<div class="bottom_btn">
  <a class="top-btn top_btn_bottom">TOP</a>
</div>