<div class="profile_bg">

<!--フラッシュメッセージ-->
<div class="message-container">
  <% if flash[:danger].present? %>
    <div class="message">
      <%= flash[:danger] %>
    </div>
  <% end %>
  <% if flash[:notice].present? %>
    <div class="message">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

  <div class="profile">
    <div class="profile_btn">
      <div class="icon_neme_customer">
        <div class="icon_folow_edit">
          <!--会員アイコン-->
          <div class="profile_name_img">
            <%= image_tag @customer.get_profile_image, class: "profile_img_b" %>
          </div>
          <div class="folow_edit_sp">
            <%= link_to "編集", edit_admin_customer_path(@customer), class: "btn_y_s" %>
          </div>
        </div>


        <!--アイコン横のユーザーネーム、カウンター類-->
        <div>
          <p class="customer_name_b"><%= @customer.name %></p>
          <div class="counter_flex">
            <div id="followings-counter_<%= @customer.id %>">
              <%= render "/admin/relationships/followings_counter", customer: @customer %>
            </div>
            <div id="followers-counter_<%= @customer.id %>">
              <%= render "/admin/relationships/followers_counter", customer: @customer %>
            </div>
            <div id="favorites-counter_<%= @customer.id %>">
              <%= render "/public/favorites/favorite_counter", customer: @customer %>
            </div>
          </div>
        </div>
      </div>

      <!--編集ボタン-->
      <div class="folow_edit">
        <%= link_to "編集", edit_admin_customer_path(@customer), class: "btn_y_s" %>
      </div>
    </div>

    <!--自己紹介文-->
    <p class="customer_show_text"><%= @customer.introduction %></p>
  </div>
</div>

<% if @posts.any? %><!--会員に投稿があれば表示-->
  <%= render partial: 'public/posts/list', locals: { posts: @posts } %>
<% else %><!--会員に投稿が無い場合に表示-->
  <p>まだ投稿がありません。</p>
<% end %>

<!--新規投稿ボタン、トップへ戻るボタン-->
<div class="bottom_btn">
  <% if current_customer %><!--ログイン時は新規投稿ボタンが現れる-->
    <%= render '/public/posts/post_btn' %>
  <% end %>
  <a class="top-btn top_btn_bottom"><%= image_tag "top_btn.png",alt: "トップへ戻る", class: 'top_btn' %></a>
</div>