<% post_comments.each do |post_comment| %>
<div class="icon_neme_day">

  <%= link_to public_customer_path(post_comment.customer), class: 'profile_img_s' do %>
    <%= image_tag post_comment.customer.get_profile_image %>
  <% end %>

  <div>
    <div class="comment_profile_flex">
      <p class="customer_name"><%= post_comment.customer.name %></p>
      <p class="post_day"><%= post_comment.created_at.strftime('%Y年%m月%d日') %></p>
    </div>
    <div class="comment_profile_flex">
      <p class="comment_text"><%= post_comment.comment %></p>
      <% if post_comment.customer == current_customer %>
        <%= link_to public_post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { confirm: "本当に削除しますか？" },remote: true do %>
          <img src="/assets/delete.png" alt: "削除" class="delete_g">
        <% end %>
      <% elsif admin_signed_in? %>
        <%= link_to public_post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
          <img src="/assets/delete.png" alt: "削除" class="delete_g">
        <% end %>
      <% end %>
    </div>
  </div>

</div>
<% end %>