<h3 class="page_title">新規登録</h3>
<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', local: true do |f| %>
  <div>
  <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  <div>
  <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前"%>
  </div>
  <div>
  <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
  </div>
  <div>
  <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
  </div>
  <div>
  <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
  </div>
  <div>
  <%= f.submit "サインアップ", class:"btn btn-block btn-info mt-5" %>
  </div>
  
<% end %>