<h3 class="page_title">ログイン</h3>
<div class="contents_padding">
  <!--フラッシュメッセージ-->
  <div class="message-container">
    <% if flash[:danger].present? %>
      <div class="message">
        <%= flash[:danger] %>
      </div>
    <% end %>
    <% if flash[:notice].present? %>
      <div class="message">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>

  <!--ログインフォーム-->
  <div class="login_form_wrap">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login_form_flex">
        <p>メールアドレス</p>
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login_form_control" %>
        </div>
      </div>
      <div class="login_form_flex_last">
        <p>パスワード</p>
        <div>
          <%= f.password_field :password, autocomplete: "current-password", class:"login_form_control" %>
        </div>
      </div>

  <!--ログイン、キャンセルボタン-->
      <div class="login_form_flex_btn">
        <%= link_to 'キャンセル', root_path, class:"btn_g" %>
        <%= f.submit "ログイン",class: "btn_y" %>
      </div>
    <% end %>
  </div>
</div>