<header id="header">

<h1><a class="top-btn">ネコログ</a></h1>

<nav id="global_nav">
  <ul>
    <% if customer_signed_in? %>
      <!--顧客ログイン時 -->
      <li><%= render "layouts/serach" %></li>
      <li><%= link_to "投稿一覧", public_posts_path %></li>
      <li><%= link_to "ネコトモ一覧", public_customers_path %></li>
      <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
      <li>
        <%= link_to public_customer_path(current_customer) do %>
          <%= image_tag current_customer.get_profile_image, size: '34x34' %>
        <% end %>
      </li>
    <% elsif admin_signed_in? %>
      <!-- 管理者ログイン時 -->
      <li><%= render "layouts/serach" %></li>
      <li><%= link_to "投稿一覧", public_posts_path %></li>
      <li><%= link_to "ネコトモ一覧", admin_customers_path %></li>
      <li><%= link_to "カテゴリ一覧", admin_genres_path %></li>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, url: admin_session_path %></li>
    <% else %>
      <!-- ログアウト時 -->
      <li><%= link_to "新規登録", new_customer_registration_path %></li>
      <li><%= link_to "ログイン", new_customer_session_path %></li>
    <% end %>
  </ul>
</nav>

</header>