<header id="header">

<h1 class="header_logo"><a href="<%= root_path %>"><%= image_tag "nekolog_logo.png",alt: "nekolog_logo" %></a></h1>

<nav class="global_nav">
  <ul>
    <% if customer_signed_in? %>
      <!--顧客ログイン時 -->
      <li class="pc_serach"><%= render "/public/searches/serach" %></li>
      <li class="pc_nav nav_underbar"><%= link_to "投稿一覧", public_posts_path %></li>
      <li class="pc_nav nav_underbar"><%= link_to "会員一覧", public_customers_path %></li>
      <li class="pc_nav"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'header_btn_g' %></li>
      <li class="hm_btn sp_nav">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </li>
      <li>
        <%= link_to public_customer_path(current_customer), class: 'profile_img_s' do %>
          <%= image_tag current_customer.get_profile_image %>
        <% end %>
      </li>
    <% elsif admin_signed_in? %>
      <!-- 管理者ログイン時 -->
      <li class="pc_serach"><%= render "/admin/searches/serach" %></li>
      <li class="pc_nav nav_underbar"><%= link_to "投稿一覧", public_posts_path %></li>
      <li class="pc_nav nav_underbar"><%= link_to "会員一覧", admin_customers_path %></li>
      <li class="pc_nav"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, url: admin_session_path, class: 'header_btn_g' %></li>
      <li class="hm_btn sp_nav">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </li>
    <% else %>
      <!-- ログアウト時 -->
      <li class="pc_serach"><%= render "/public/searches/serach" %></li>
      <li class="pc_nav nav_underbar"><%= link_to "投稿一覧", public_posts_path %></li>
      <li class="pc_nav nav_underbar"><%= link_to "会員一覧", public_customers_path %></li>
      <li class="pc_nav"><%= link_to "新規登録", new_customer_registration_path, class: 'header_btn_h' %></li>
      <li class="pc_nav"><%= link_to "ログイン", new_customer_session_path, class: 'header_btn_y' %></li>
      <li class="hm_btn sp_nav">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </li>
    <% end %>
  </ul>
</nav>

<nav class="sp-menu">
  <ul>
    <% if customer_signed_in? %>
      <!--顧客ログイン時 -->
      <li class="sp_menu_border nav_underbar"><%= link_to "投稿一覧", public_posts_path %></li>
      <li class="sp_menu_border nav_underbar"><%= link_to "会員一覧", public_customers_path %></li>
      <li class="sp_menu_border sp_menu_serach"><%= render "public/searches/serach" %></li>
      <div class="login_form_flex_btn">
        <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'header_btn_g' %></li>
      </div>
    <% elsif admin_signed_in? %>
      <!-- 管理者ログイン時 -->
      <li class="sp_menu_border nav_underbar"><%= link_to "投稿一覧", public_posts_path %></li>
      <li class="sp_menu_border nav_underbar"><%= link_to "会員一覧", admin_customers_path %></li>
      <li class="sp_menu_border sp_menu_serach"><%= render "public/searches/serach" %></li>
      <div class="login_form_flex_btn">
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, url: admin_session_path, class: 'header_btn_g' %></li>
      </div>
    <% else %>
      <!-- ログアウト時 -->
      <li class="sp_menu_border nav_underbar"><%= link_to "投稿一覧", public_posts_path %></li>
      <li class="sp_menu_border nav_underbar"><%= link_to "会員一覧", public_customers_path %></li>
      <li class="sp_menu_border sp_menu_serach"><%= render "/public/searches/serach" %></li>
      <div class="login_form_flex_btn">
        <li><%= link_to "新規登録", new_customer_registration_path, class: 'header_btn_h' %></li>
        <li><%= link_to "ログイン", new_customer_session_path, class: 'header_btn_y login_btn' %></li>
      </div>
    <% end %>
  </ul>
</nav>


</header>