<header id="header">

<h1 class="header_logo"><a class="top-btn"><img src="/assets/nekolog_logo.png" alt="nekolog_logo"></a></h1>

<nav class="global_nav">
  <ul>
    <% if customer_signed_in? %>
      <!--顧客ログイン時 -->
      <li><%= render "public/searches/serach" %></li>
      <li><%= link_to "投稿一覧", public_posts_path %></li>
      <li><%= link_to "会員一覧", public_customers_path %></li>
      <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'header_btn' %></li>
      <li>
        <%= link_to public_customer_path(current_customer), class: 'profile_img_s' do %>
          <%= image_tag current_customer.get_profile_image %>
        <% end %>
      </li>
    <% elsif admin_signed_in? %>
      <!-- 管理者ログイン時 -->
      <li><%= render "public/searches/serach" %></li>
      <li><%= link_to "投稿一覧", public_posts_path %></li>
      <li><%= link_to "会員一覧", admin_customers_path %></li>
      <!--<li><%#= link_to "カテゴリー一覧", admin_genres_path %></li>-->
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, url: admin_session_path, class: 'header_btn' %></li>
    <% else %>
      <!-- ログアウト時 -->
      <li><%= link_to "新規登録", new_customer_registration_path, class: 'header_btn' %></li>
      <li><%= link_to "ログイン", new_customer_session_path, class: 'header_btn' %></li>
    <% end %>
  </ul>
</nav>

</header>