<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NEKOLOG</title>
    <meta charset="UTF-8"　/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="css/style.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>-->
  </head>

  <body>
    <%= render "layouts/header" %>
    <main>
      <%= yield %>
    </main>
    <a class="top-btn">TOP</a>

    <%= render "layouts/footer" %>

    <!--<script src="app/javascript/jquery.min.js"></script>-->
    <!--<script src="app/javascript/script.js"></script>-->
  </body>
</html>
